In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def my_function(x):
  print(x)

my_function(x = 3)

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

In [ ]:
cars.remove("Volvo")

In [ ]:
Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

In [ ]:
class Student(Person):
  pass

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

In [ ]:
lass Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
def is_high_rated(movie):
    return movie["imdb"] > 5.5

In [ ]:
def high_rated_movies(movie_list):
    return [movie for movie in movie_list if movie["imdb"] > 5.5]

In [ ]:
def movies_by_category(movie_list, category):
    return [movie for movie in movie_list if movie["category"] == category]

In [ ]:
def average_imdb(movie_list):
    if not movie_list:
        return 0  
    return sum(movie["imdb"] for movie in movie_list) / len(movie_list)

In [ ]:
def average_imdb_by_category(movie_list, category):
    category_movies = [movie for movie in movie_list if movie["category"] == category]
    if not category_movies:
        return 0  
    return sum(movie["imdb"] for movie in category_movies) / len(category_movies)